.ipynb_checkpoints
data/*
src/DM_ZHANG_TASK4/*
src/DM_ZHANG_TASK3/*

!data/Data.zip
!data/profile
!data/DM_ZHANG_TASK4/patterns_and_rules_mining.ipynb
!data/DM_ZHANG_TASK3/data_prediction_analysis.ipynb
